.tup
.tungsten
/Tuprules.tup
/configure
/config.status
/autom4te.cache/
/config.log
doc
private
html/sessions
html/log.txt
headerDep.sh
.ycm_extra_conf.py
.ycm_extra_conf.pyc
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
.fuse_hidden*

