$def with (form, name, output, errors, log)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<!-- header info used to contain extra information about
   this document, not displayed on the page -->
   
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$$','$$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
	src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<title>Tungsten|Alpha</title>
</head>

<body>
<div align="center">
$if name:
	Your Input: \$\$ $name \$\$ 
$else:
	Try me!

$if errors:
	$:errors

\$\$ $output \$\$
<form name="main" method="post">
$:form.render()
<input type="submit" />    </form>


Last 10 inputs: <br>
$:log
</div> 
</body>
</html>



