$def with (form, name, output, svg, errors, log)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<!-- header info used to contain extra information about
   this document, not displayed on the page -->
<!-- skinning here
-->
<style type="text/css">
	body {background:url(http://matthiasvegh.dyndns.org/bg.png);}
	svg {border: 1px solid black;background:white;}
	.log {border: 1px dashed darkgrey; border-radius: 5px; display: inline-block; min-width:30%; padding: 5px}
</style>

 <script type="text/x-mathjax-config">
MathJax.Hub.Config({
  "HTML-CSS": { linebreaks: { automatic: true } },
         SVG: { linebreaks: { automatic: true } },
		tex2jax: {inlineMath: [['$$','$$'], ['\\(','\\)']]}

	});

</script>
<script type="text/javascript">
	   function escapeCharacters(){
		arr = location.href.split(/\#/);
		res = arr[0];
		for(i = 1; i<arr.length; ++i){
			res += escape('#') + arr[i];
		}
		if(res != location.href && arr.length > 1){
			window.location = res; 
		}
	}
</script>
<script type="text/javascript"
	src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->

<link rel="icon" type="image/png" href="http://www.gstatic.com/codesite/ph/images/defaultlogo.png" />
<title>Tungsten|Alpha</title>
</head>
<body onload = "escapeCharacters()">
	<div align="center">
		$if name:
			Your Input:<br><div class="input"> \$\$ $name \$\$ </div>
		$else:
			Try me!

		$if errors:
			$:errors<br>
		$if output:
			Output:<br><div class="output"> \$\$ $output \$\$ </div>
		$if svg and not output:
			<div class="svg">$:svg</div>

		<form name="main" method="post">
			$:form.render()
			<input type="submit" />
		</form>

		<a href="http://code.google.com/p/tungsten">Source code on Google Code</a>
		<br>
		$if name:
			Last 10 inputs: <br>
			<div class="log">$:log</div>
		$else:
			Try these inputs:<br>
			<a href="/tungsten/2+2">2+2</a><br>
			<a href="/tungsten/5!">5!</a><br>
			<a href="/tungsten/Graphics[Circle[]]">Graphics[Circle[]]</a><br>
			<a href="/tungsten/Plot[Sin[x], {x, -5, 5, 0.1}]">Plot[Sin[x], {x, -5, 5, 0.1}]</a><br>
			<a href="/tungsten/Graphics[Table[BezierCurve[{{RandomReal[], RandomReal[]}, {RandomReal[], RandomReal[]}, {RandomReal[], RandomReal[]}, {RandomReal[], RandomReal[]}}], {10}]]">Graphics[Table[BezierCurve[{{RandomReal[], RandomReal[]}, {RandomReal[], RandomReal[]}, {RandomReal[], RandomReal[]}, {RandomReal[], RandomReal[]}}]]]</a><br>
	</div> 
</body>
</html>



